[IBGateway]
WriteDebug=false
TrustedIPs=${TWS_TRUSTED_IPS}
LocalServerPort=${IBCTL_GATEWAY_API_PORT}
ApiOnly=true
ReadOnlyApi=no

[Logon]
Locale=en
TimeZone=${TIME_ZONE:-America/New_York}
displayedproxymsg=1
UseSSL=true
s3store=true

[Communication]
